.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.346191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.383301;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.330078;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.ls1{letter-spacing:0.096000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._8{margin-left:-2.112000px;}
._0{margin-left:-1.056000px;}
._1{width:1.152000px;}
._7{width:2.304000px;}
._4{width:3.696000px;}
._5{width:4.752000px;}
._6{width:5.760000px;}
._2{width:7.536000px;}
._3{width:9.120000px;}
._12{width:20.640000px;}
._e{width:106.568000px;}
._b{width:158.792000px;}
._d{width:176.072000px;}
._c{width:209.432000px;}
._f{width:286.520000px;}
._11{width:288.248000px;}
._9{width:319.688000px;}
._a{width:338.888000px;}
._10{width:354.872000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:48.000000px;}
.y21{bottom:45.624000px;}
.y20{bottom:68.664000px;}
.y1f{bottom:91.464000px;}
.y1e{bottom:114.260000px;}
.y1d{bottom:137.330000px;}
.y1c{bottom:183.170000px;}
.y1b{bottom:205.970000px;}
.y1a{bottom:228.790000px;}
.y19{bottom:251.830000px;}
.y18{bottom:274.630000px;}
.y17{bottom:297.700000px;}
.y16{bottom:320.500000px;}
.y15{bottom:343.300000px;}
.y14{bottom:366.340000px;}
.y13{bottom:389.160000px;}
.y12{bottom:411.960000px;}
.y11{bottom:435.000000px;}
.y10{bottom:457.800000px;}
.yf{bottom:480.860000px;}
.ye{bottom:503.660000px;}
.yd{bottom:526.460000px;}
.yc{bottom:549.500000px;}
.yb{bottom:572.330000px;}
.ya{bottom:587.210000px;}
.y27{bottom:595.130000px;}
.y9{bottom:602.090000px;}
.y26{bottom:610.250000px;}
.y25{bottom:625.130000px;}
.y8{bottom:647.950000px;}
.y7{bottom:670.510000px;}
.y24{bottom:670.750000px;}
.y23{bottom:693.550000px;}
.y0{bottom:698.500000px;}
.y6{bottom:716.590000px;}
.y5{bottom:739.420000px;}
.y4{bottom:762.460000px;}
.y3{bottom:785.020000px;}
.y2{bottom:808.080000px;}
.y22{bottom:808.320000px;}
.y1{bottom:831.120000px;}
.h2{height:49.898438px;}
.h3{height:50.671875px;}
.h1{height:128.000000px;}
.h0{height:841.920000px;}
.w0{width:595.440000px;}
.w1{width:595.500000px;}
.x0{left:0.000000px;}
.x1{left:168.070000px;}
.x5{left:172.630000px;}
.x3{left:198.070000px;}
.x4{left:200.710000px;}
.x7{left:218.260000px;}
.x2{left:254.740000px;}
.x6{left:275.400000px;}
.x8{left:311.880000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1{letter-spacing:0.128000pt;}
.ws0{word-spacing:0.000000pt;}
._8{margin-left:-2.816000pt;}
._0{margin-left:-1.408000pt;}
._1{width:1.536000pt;}
._7{width:3.072000pt;}
._4{width:4.928000pt;}
._5{width:6.336000pt;}
._6{width:7.680000pt;}
._2{width:10.048000pt;}
._3{width:12.160000pt;}
._12{width:27.520000pt;}
._e{width:142.090667pt;}
._b{width:211.722667pt;}
._d{width:234.762667pt;}
._c{width:279.242667pt;}
._f{width:382.026667pt;}
._11{width:384.330667pt;}
._9{width:426.250667pt;}
._a{width:451.850667pt;}
._10{width:473.162667pt;}
.fs0{font-size:64.000000pt;}
.y21{bottom:60.832000pt;}
.y20{bottom:91.552000pt;}
.y1f{bottom:121.952000pt;}
.y1e{bottom:152.346667pt;}
.y1d{bottom:183.106667pt;}
.y1c{bottom:244.226667pt;}
.y1b{bottom:274.626667pt;}
.y1a{bottom:305.053333pt;}
.y19{bottom:335.773333pt;}
.y18{bottom:366.173333pt;}
.y17{bottom:396.933333pt;}
.y16{bottom:427.333333pt;}
.y15{bottom:457.733333pt;}
.y14{bottom:488.453333pt;}
.y13{bottom:518.880000pt;}
.y12{bottom:549.280000pt;}
.y11{bottom:580.000000pt;}
.y10{bottom:610.400000pt;}
.yf{bottom:641.146667pt;}
.ye{bottom:671.546667pt;}
.yd{bottom:701.946667pt;}
.yc{bottom:732.666667pt;}
.yb{bottom:763.106667pt;}
.ya{bottom:782.946667pt;}
.y27{bottom:793.506667pt;}
.y9{bottom:802.786667pt;}
.y26{bottom:813.666667pt;}
.y25{bottom:833.506667pt;}
.y8{bottom:863.933333pt;}
.y7{bottom:894.013333pt;}
.y24{bottom:894.333333pt;}
.y23{bottom:924.733333pt;}
.y0{bottom:931.333333pt;}
.y6{bottom:955.453333pt;}
.y5{bottom:985.893333pt;}
.y4{bottom:1016.613333pt;}
.y3{bottom:1046.693333pt;}
.y2{bottom:1077.440000pt;}
.y22{bottom:1077.760000pt;}
.y1{bottom:1108.160000pt;}
.h2{height:66.531250pt;}
.h3{height:67.562500pt;}
.h1{height:170.666667pt;}
.h0{height:1122.560000pt;}
.w0{width:793.920000pt;}
.w1{width:794.000000pt;}
.x0{left:0.000000pt;}
.x1{left:224.093333pt;}
.x5{left:230.173333pt;}
.x3{left:264.093333pt;}
.x4{left:267.613333pt;}
.x7{left:291.013333pt;}
.x2{left:339.653333pt;}
.x6{left:367.200000pt;}
.x8{left:415.840000pt;}
}
